<html>
<title>{{filename}}</title>
<style type="text/css">
  table { border: 1px solid black; }
  tr { border: 1px solid black; }
  td { border: 1px solid black; }
</style>
<body>
{{filename}}
<table>
{{{tableData}}}
</table>

<body>
</html>
